<div class="success-container">
  <div class="success-card">
    <div class="success-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#4CAF50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <h1>¡Pago Completado con Éxito!</h1>
    <p>Hemos recibido tu pago correctamente. En breve recibirás un correo electrónico con los detalles de tu compra.</p>
    
    <div class="order-details">
      <p>Si tienes alguna pregunta, contáctanos en 
        <a href="mailto:tuboleto&#64;dsmfamilia.com">soporte&#64;osmipass.com</a>
      </p>
    </div>
    
    <button class="back-button" (click)="router.navigate(['/'])">Volver al Inicio</button>
  </div>
</div>